.loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background: linear-gradient(45deg,#63acb0cc,#1d3679d7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader__image{
    width: 70vw;
}